// Add your imported addons here
@import url("https://nyri4.github.io/Discolored/main.css");
@import url('https://raw.githack.com/Snapperito/Settings-Icons/main/source.css');
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');
@import url('https://corellanstoma.github.io/CreArts/addons/database/usrbg.css');


// Addon Variables
:root {
--settings-icon-color: var(--interactive-normal);
--settings-subscriptions: var(--interactive-normal);
--settings-hypesquad: var(--interactive-normal);
--settings-logout: #f04747;
--settings-alt-focused: var(--interactive-normal);
--settings-guild-premium: var(--interactive-normal);
--settings-guild-delete: #f04747;
}



// CSS Snippets //
:root { 
    --avatar-radius: 14% /* if you want your avatar more or less round it's here */
}

/* Hide the activity icon background in both user popouts */
.avatarWrapperNormal-3wFMbf > .wrapper-1VLyxH > .mask-1FEkla foreignObject, .header-QKLPzZ > .wrapper-1VLyxH > .mask-1FEkla foreignObject { mask: none !important; border-radius: var(--avatar-radius); }

/* Fix the "View Profile" thing when u over your avatar */
.avatarHint-1qgaV3 foreignObject { mask: none !important; border-radius: var(--avatar-radius); }

.contentColumn-1C7as6, .customColumn-2n-oKU{
    max-width: 1000px;
    min-width: 98%;
}

/* Badges */
.headerInfo-30uryT > .profileBadges-2vWUYb { display: flex; flex-wrap: wrap; }
.headerInfo-30uryT > .profileBadges-2vWUYb > .profileBadgeWrapper-1rGSsp { padding-bottom: 7px; }