/**
 * @name Nebula
 * @author Pavui#0001
 * @version 3.5.6
 * @description Nebula is a deep blue, round, consistent UI theme, and sequel to Nebula 2
 * @source https://github.com/pavui/Nebula
*/


/*
          _____                    _____                    _____                    _____                    _____            _____          
         /\    \                  /\    \                  /\    \                  /\    \                  /\    \          /\    \         
        /::\____\                /::\    \                /::\    \                /::\____\                /::\____\        /::\    \        
       /::::|   |               /::::\    \              /::::\    \              /:::/    /               /:::/    /       /::::\    \       
      /:::::|   |              /::::::\    \            /::::::\    \            /:::/    /               /:::/    /       /::::::\    \      
     /::::::|   |             /:::/\:::\    \          /:::/\:::\    \          /:::/    /               /:::/    /       /:::/\:::\    \     
    /:::/|::|   |            /:::/__\:::\    \        /:::/__\:::\    \        /:::/    /               /:::/    /       /:::/__\:::\    \    
   /:::/ |::|   |           /::::\   \:::\    \      /::::\   \:::\    \      /:::/    /               /:::/    /       /::::\   \:::\    \   
  /:::/  |::|   | _____    /::::::\   \:::\    \    /::::::\   \:::\    \    /:::/    /      _____    /:::/    /       /::::::\   \:::\    \  
 /:::/   |::|   |/\    \  /:::/\:::\   \:::\    \  /:::/\:::\   \:::\ ___\  /:::/____/      /\    \  /:::/    /       /:::/\:::\   \:::\    \ 
/:: /    |::|   /::\____\/:::/__\:::\   \:::\____\/:::/__\:::\   \:::|    ||:::|    /      /::\____\/:::/____/       /:::/  \:::\   \:::\____\
\::/    /|::|  /:::/    /\:::\   \:::\   \::/    /\:::\   \:::\  /:::|____||:::|____\     /:::/    /\:::\    \       \::/    \:::\  /:::/    /
 \/____/ |::| /:::/    /  \:::\   \:::\   \/____/  \:::\   \:::\/:::/    /  \:::\    \   /:::/    /  \:::\    \       \/____/ \:::\/:::/    / 
         |::|/:::/    /    \:::\   \:::\    \       \:::\   \::::::/    /    \:::\    \ /:::/    /    \:::\    \               \::::::/    /  
         |::::::/    /      \:::\   \:::\____\       \:::\   \::::/    /      \:::\    /:::/    /      \:::\    \               \::::/    /   
         |:::::/    /        \:::\   \::/    /        \:::\  /:::/    /        \:::\__/:::/    /        \:::\    \              /:::/    /    
         |::::/    /          \:::\   \/____/          \:::\/:::/    /          \::::::::/    /          \:::\    \            /:::/    /     
         /:::/    /            \:::\    \               \::::::/    /            \::::::/    /            \:::\    \          /:::/    /      
        /:::/    /              \:::\____\               \::::/    /              \::::/    /              \:::\____\        /:::/    /       
        \::/    /                \::/    /                \::/____/                \::/____/                \::/    /        \::/    /        
         \/____/                  \/____/                  ~~                       ~~                       \/____/          \/____/                                                                                                                                              
*/

/* Source Code Import */

@import url('https://pavui.github.io/Nebula/source/src/compiled.css');



/* Nebula 3 Variables */
:root{
--neb-primary:#25294a; 
--neb-secondary:#202442;
--neb-secondary-alt:#2d325a;
--neb-tertiary:#1b1f38;
}

/*
Put Any Custom CSS Below
*/