.autocomplete-3l_oCd{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-border-radius1);
    .selected-3H3-RC{
        background-color: var(--background-tertiary);
        border-radius: var(--neb-border-radius1);
    }
}