.popout-1KHNAq{
    border-radius: var(--neb-border-radius1);
    margin-top: var(--margin);
    .option-2eIyOn{
        margin: var(--margin);
        border-radius: var(--neb-border-radius1);
        transition: var(--transition);
        padding: 8px;
        .selectedIcon-19TbzU{
            color:var(--neb-white)
        }
    }
    [aria-selected="true"]{
        background-color: var(--background-secondary-alt);
    }
}