.contentWrapper-SvZHNd{
    background-color: transparent;
    border-radius: var(--neb-border-radius1);
    box-shadow: none;
    .nav-7UD0KD{
        position: relative;
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0;
        height:3vh;
        padding-top: 10px;
    }
    .header-8ilj5e,
    .header-1TOWci,
    .header-2k4I2o{
        background-color: var(--background-secondary-alt);
        border-radius: 0px 0px var(--neb-border-radius1) var(--neb-border-radius1);
        margin-bottom: 10px;
        padding-top: 15px;
        box-shadow: none;
    }
    .bodyWrapper-3G0FZZ,
    .wrapper-OxgYJ1{
        background-color: var(--background-secondary-alt);
        border-radius: 0 var(--neb-border-radius1) 0 0;
        padding-top: 8px;
        .wrapper-1-Fsb8{
            border-radius: var(--neb-border-radius1);
            &::after{
                display: none;
            }
        }
    }
    .wrapper-2Gsate{
        background-color: transparent;
        margin-top: 25px;
        .list-donH_Z{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-border-radius1) 0 0 var(--neb-border-radius1);
        }
        .unicodeShortcut-15J8Ck{
            background-color: var(--background-secondary-alt);
        }
    }
    .content-ySCtCx{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
    }
    .premiumPromo-fVlLu-{
        border-radius: var(--neb-border-radius1);
        margin-top: var(--margin);
        opacity: 1;
    }
}