.container-2ebMPP{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-border-radius1);
    .header-145e10{
        border-radius: var(--neb-border-radius1);
        margin: var(--margin);
    }
    .scroller-145h9c{
        border-radius: var(--neb-border-radius1);
        .channelHeader-DFRX8q{
            background-color: var(--background-tertiary);
            margin-bottom: var(--margin);
        }
        .messages-23can0,
        .messageContainer-8dSNjf{
            border-radius: var(--neb-border-radius1);
        }
    }
}