.container-3iAQ-0{
    .channelHeader-3Gd2xq{
        border-radius: var(--neb-border-radius1);
        margin:var(--margin) 0;
    }
    .messageContainer-gbhlwo{
        border-radius: var(--neb-border-radius1);
    }
}
.hasMore-sul95G{
    .hasMoreButton-1MELpI{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
        color: var(--neb-white);
    }
}