.container-enaOkj{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-border-radius1);
    .header-2-Imhb{
        border-radius: var(--neb-border-radius1);
        margin: var(--margin);
    }
    .scroller-tlc3kG{
        border-radius: var(--neb-border-radius1);
        .channelHeader-3Gd2xq{
            background-color: var(--background-tertiary);
            margin-bottom: var(--margin);
        }
        .messages-3G3erD,
        .messageContainer-1ei2zM{
            border-radius: var(--neb-border-radius1);
        }
    }
}