.menu-1QACrS{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-border-radius1);
    .colorDefault-CDqZdO{
        border-radius: var(--neb-border-radius1);
    }
    .colorDefault-CDqZdO.focused-3qFvc8{
        background-color: var(--background-tertiary);
        &:hover{
            color:var(--header-primary);
        }
    }
}