.messagesPopoutWrap-3zryHW{
    background-color: var(--background-secondary-alt);;
    border-radius: var(--neb-border-radius1);
    box-shadow: none;
    .header-1w9Q93{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        margin: var(--margin);
        box-shadow: none;
    }
    .messagesPopout-eVzQcI{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        margin: 0 var(--margin) var(--margin) var(--margin);
        &::-webkit-scrollbar{
            display: none;
        }
        .messageGroupWrapper-1jf_7C{
            border-radius: var(--neb-border-radius1);
            border: none;
        }
    }
    .footer-5ji8u1{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        margin: 0 var(--margin) var(--margin) var(--margin);
    }
    .cozy-VmLDNB.wrapper-30-Nkg{
        background-color: var(--background-tertiary);
    }
}