.searchResultsWrap-5RVOkx{
    background-color: var(--background-primary);
    border-radius: var(--neb-border-radius1);
    margin: 0 var(--margin);
    .searchHeader-1r_ZSh{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        margin: var(--margin);
    }
    .scroller-3iiyhZ{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        margin: var(--margin);
        &::-webkit-scrollbar{
            display: none;
        }
    }
}