.container-2O1UgZ{
    border-radius: var(--neb-border-radius1);
    background-color: var(--background-secondary-alt);
    box-shadow: var(--elevation-high);
    position: absolute;
    z-index: 1;
    border: none;
    right:45px;
    .container-2oNtJn{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-secondary);
    }
    .item-1BCeuB{
        border-radius: var(--neb-border-radius1);
        transition: var(--transition);
        &:hover{
            background-color: var(--background-secondary);
        }
    }
}