.container-3ayLPN{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-border-radius1);
    .option-96V44q.selected-rZcOL-{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius2);
    }
    .option-96V44q:after{
        display: none;
    }
    .calendarPicker-2yf6Ci .react-datepicker{
        background-color: var(--background-secondary-alt);
    }
}