.tooltip-14MtrL{
    box-shadow: none !important;
    z-index: 1002;
}
.tooltipPrimary-3qLMbS{
    z-index: 1002;
    background-color: var(--background-secondary) !important;
    .tooltipPointer-3L49xb{
        border-top-color: transparent !important;
    }
}
.tooltipGreen-oouJdx{
    .tooltipPointer-3L49xb{
        border-top-color: transparent !important;
    }
}