.userPopout-3XzG_A{
    border-radius: var(--neb-border-radius1);
    background-color: var(--background-secondary-alt);
    box-shadow: var(--elevation-high);
    overflow: scroll;
    width:270px;
    .header-2BwW8b{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius1);
        min-height: none;
        height:fit-content;
        min-height:90px;
        max-height: 90px;
        padding-bottom: 10px;
        margin: var(--margin);
        box-shadow: var(--elevation-high);
        .directionColumn-35P_nr{
            text-align: right;
            .avatarWrapper-3H_478{
                position: absolute;
                left:20px;
                top:20px;
            }
            .headerText-2sdzFM{
                position: relative;
                left:45px;
                bottom:5px;
                width:70%;
                height:max-content;
                align-items: center;
                .headerNameWrapper-3res2c{
                    position: relative;
                    top: 0;
                    left:0;
                    width: 100%;
                    text-align: left;
                    z-index: 1;
                    .headerName-fajvi9{
                        text-transform: capitalize;
                        font-size: 19px;
                        font-weight: 500;
                    }
                }
                .directionRow-3v3tfG{
                    width: 100%;
                    .headerTag-2pZJzA{
                        text-transform: capitalize;
                        justify-content: left;
                        width: 100%;
                        color:var(--header-primary);
                    }
                }
            }
        }
        &::-webkit-scrollbar,
        .customStatus-1bh2V9{
            display: none;
        }
    }
    .body-3iLsc4{
        background-color: transparent;
        padding-bottom: 0;
        .size12-3R0845:nth-child(3),
        .note-3HfJZ5{
            display: none;
        }
        .rolesList-22qj2L{
            &::before{
                content: 'ROLES';
                position: absolute;
                font-weight: 900;
                font-size: 13px;
                color:#cacaca;
                top:-23px;
            }
        }
    }
    .activity-11LB_k{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
        box-shadow: var(--elevation-high);
        position: absolute;
        width:197px;
        height:fit-content;
        left:-240px;
        top:0;
    }
    .footer-1fjuF6{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-secondary);
        box-shadow: var(--elevation-high);
        margin: var(--margin);
        .inputWrapper-31_8H8{
            padding-top: 15px;
            .input-cIJ7To{
                border-radius: calc(var(--neb-border-radius1) - 8px);
                background-color: var(--background-secondary-alt);
                &:focus-within{
                    border-color: var(--neb-white);
                }
            }
        }
        .protip-YaFfgO{
            padding-top: 15px;
        }
    }
    &::-webkit-scrollbar,
    .bodyTitle-Y0qMQz{
        display: none;
    }
}
.animatorRight-3i_YPs{
    .activity-11LB_k{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
        box-shadow: var(--elevation-high);
        position: absolute;
        width:197px;
        left:280px;
        top:0;
        z-index: 1;
    }
}

.userPopout-3XzG_A{
    rect{
        pointer-events: none;
        width:65%;
        height:8px;
        mask:none;
        ry:5; x:10; y:70;
    }
    [mask="url(#svg-mask-status-online)"]{
        fill: var(--neb-status-online);
    }
    [mask="url(#svg-mask-status-dnd)"]{
        fill:var(--neb-status-dnd);
    }
}