.animatorLeft-1EQxU0{
    .userPopout-3XzG_A{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-secondary);
        flex-direction: row;
        width: 600px;
        .headerNormal-T_seeN,
        .headerPlaying-j0WQBV,
        .headerSpotify-zpWxgT,
        .headerXbox-3G-4PF,
        .headerStreaming-2FjmGz{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-border-radius1);
            margin: var(--margin);
            min-width: 220px;
            max-width:220px;
            height:24.5vh;
            max-height: 24.5vh;
            overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            .headerTop-3C2Zn0{
                padding-bottom: 35px;
            }
            .activity-11LB_k{
                background-color: var(--background-secondary);
                border-radius: var(--neb-border-radius1);
                margin: var(--margin);
            }
        }
        .body-3iLsc4{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0; 
            position: absolute;
            margin: var(--margin);
            width:40.5vh;
            height:18.12vh;
            right:0;
        }
        .footer-1fjuF6{
            background-color: var(--background-secondary-alt);
            border-radius: 0 0 var(--neb-border-radius1) var(--neb-border-radius1);
            position: absolute;
            right:10px;
            bottom:10px;
            width:36.8vh;
            height:4.6vh;
            .input-cIJ7To{
                border-radius: var(--neb-border-radius1);
                background-color: var(--background-tertiary);
                &:focus-within{
                    border-color: var(--border-active);
                }
            }
            .protip-YaFfgO{
                display: none;
            }
        }
    }
}
.animatorRight-3i_YPs{
    .userPopout-3XzG_A{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-secondary);
        flex-direction: row-reverse;
        width:600px;
        .headerNormal-T_seeN,
        .headerPlaying-j0WQBV,
        .headerSpotify-zpWxgT,
        .headerXbox-3G-4PF,
        .headerStreaming-2FjmGz{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-border-radius1);
            margin: var(--margin);
            min-width: 230px;
            max-width: 230px;
            height:24.4vh;
            max-height: 24.4vh;
            overflow: scroll;
            &::-webkit-scrollbar{
                display: none;
            }
            .headerTop-3C2Zn0{
                padding-bottom: 45px;
            }
            .headerName-fajvi9,
            .headerTag-2pZJzA,
            .customStatus-1bh2V9{
                color:var(--header-primary);
            }
            .activity-11LB_k{
                background-color: var(--background-secondary);
                border-radius: var(--neb-border-radius1);
                margin: var(--margin);
            }
        }
        .body-3iLsc4{
            background-color: var(--background-secondary-alt);
            border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0;
            position: absolute;
            margin: var(--margin);
            width:39.5vh;
            height:18.1vh;
            left:0;
            &::-webkit-scrollbar{
                display: none;
            }
        }
        .footer-1fjuF6{
            background-color: var(--background-secondary-alt);
            border-radius: 0 0 var(--neb-border-radius1) var(--neb-border-radius1);
            position: absolute;
            bottom: 10px;
            left:10px;
            width:35.8vh;
            height:4.5vh;
            .input-cIJ7To{
                background-color:var(--background-tertiary);
                border-radius: var(--neb-border-radius1);
                &:focus-within{
                    border-color: var(--border-active);
                }
            }
            .protip-YaFfgO{
                display: none;
            }
        }
    }
}