.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 10px;
	left: 10px;
	width: 92.4%;
	height: 99px;
	z-index: -1;
	pointer-events: none;
	opacity: 1;
	background-size: cover;
    filter:brightness(0.6);
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
    border-radius: var(--neb-border-radius1);
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, #000);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}