.contentColumnDefault-3eyv5o{
    button{
        border-radius: var(--neb-border-radius1);
        border: none;
    }
    .lookOutlined-3yKVGo.colorRed-rQXKgM{
        background-color: rgb(240, 71, 71);
        color: var(--header-primary);
    }
    .lookFilled-yCfaCM.colorBrand-I6CyqQ{
        background-color: var(--button-background-dark);
        &:hover{
            background-color: var(--background-secondary-alt);
        }
    }
    .lookFilled-yCfaCM.colorGrey-2iAG-B{
        background-color: var(--background-secondary-alt);
        &:hover{
            background-color: var(--background-secondary);
        }
    }
}