// Radiogroup
.item-26Dhrx{
    background-color: var(--background-secondary-alt);
    border-radius: var(--neb-border-radius2);
    .radioIconForeground-XwlXQN{
        color:var(--header-primary);
    }
}
.h5-18_1nd{
    color:var(--header-primary);
}

// Slider
.bar-2Qqk5Z{
    background-color: var(--background-tertiary) !important;
    .barFill-23-gu-{
        background-color: var(--header-primary);
    }
}
.defaultValue-3gC7yw .markValue-2DwdXI{
    color: var(--header-primary);
}

// Hover 
.theme-dark .card-FDVird:before{
    border-radius: var(--neb-border-radius1);
    background-color: var(--background-tertiary);
    border: none;
}

// Button
.lookFilled-1Gx00P.colorBrand-3pXr91{
    background-color: var(--button-background-dark);
    &:hover{
        background-color: var(--button-hover-dark);
    }
    &:disabled{
        background-color: var(--button-background-dark);
    }
}