.contentRegion-3nDuYy{
    margin: var(--margin) var(--margin) var(--margin) 0;
    background-color: transparent;
    .contentRegionScroller-26nc1e{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-primary);
        button{
            border-radius: var(--neb-border-radius2);
        }
        svg.slider-TkfMQL svg {
            display: none;
          }
          
          .container-3auIfb:not([style*="125"]) {
            background-color: #475092 !important;
        }
    }
}