.slider-1NC-Gf{
    .bar-1Bhnl9{
        background-color: var(--background-secondary-alt);
        .barFill-2Bh7CX{
            background-color: var(--background-tertiary);
        }
    }
}
.defaultValue-19SZ-q .markValue-2U_-UG{
    color:var(--header-primary)
}