.slider-1PF9SW{
    .bar-2Qqk5Z{
        background-color: var(--background-secondary-alt);
        .barFill-23-gu-{
            background-color: var(--background-tertiary);
        }
    }
}
.defaultValue-3gC7yw .markValue-2DwdXI{
    color:var(--header-primary)
}