.container-2nx-BQ:not([style*="125"]) {
    background-color: var(--enabled-toggle-background) !important;
}
  
.container-2nx-BQ[style*="125"] {
    background-color:var(--disabled-toggle-background) !important;
}
  
 svg.slider-32CRPX svg {
    display: none;
}
.slider-32CRPX rect{
    fill:var(--neb-white);
}