.sidebar-1tnWFu{
    background: transparent !important;
    width:var(--neb-sidebar-width);
    border-radius: var(--neb-border-radius1) !important;
    margin: 0 0 0 var(--margin);
    .container-1NXEtd{
        background-color: transparent;
        .container-1-ERn5{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius2);
            height:var(--neb-topbar-height);
            .header-3OsQeK{
                border-radius: var(--neb-border-radius2);
                height:inherit;
                box-shadow: none;
                filter: none;
            }
            .animatedContainer-2laTjx{
                z-index: 2;
                background-color: transparent !important;
                border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0;
                box-shadow: none;
                .bannerImg-2PzH6z {
                    width:var(--neb-sidebar-width);
                    border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0;
                }
                .bannerImage-ubW8K-{
                    &:before{
                        background: linear-gradient(0deg, var(--background-primary), transparent);
                        width:var(--neb-sidebar-width);
                        height:10px;
                        top:125px;
                        z-index: 10;
                    }
                }
            }
        }
        .channelNotice-tO6Tus{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            margin-top: var(--margin);
            box-shadow: none;
            .lookFilled-yCfaCM.colorBrand-I6CyqQ{
                background-color: var(--button-background-dark);
                border-radius: var(--neb-border-radius1);
                &:hover{
                    background-color: var(--button-hover-light);
                }
            }
        }
        .scroller-1ox3I2{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            margin: var(--margin) 0 0 0;
            &::-webkit-scrollbar{
                display: none;
            }
            .name-28HaxV,
            .iconContainer-21RCa3 svg,
            .icon-3zI3d2{
                color:var(--header-primary);
            }
            .container-q97qHp{
                color:var(--header-primary);
            }
            .draggable-S2aEx4{
                position: relative;
                right:30px;
                max-width: 300px;
                .content-1Tgc42{
                    border-radius: var(--neb-border-radius1);
                }
            }
        }
    }
}
