.privateChannels-oVe7HL{
    background-color: transparent;
    .searchBar-3TnChZ{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius2);
        height:var(--neb-topbar-height);
        box-shadow: none;
        .searchBarComponent-3N7dCG{
            border-radius: var(--neb-border-radius1);
        }
    }
    .scroller-WSmht3{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        margin-top: var(--margin);
        .name-3Vmqxm,
        .linkButtonIcon-7rsZcu{
            color:var(--header-primary);
        }
    }
}