.sidebar-2K8pFh{
    .scrollerBase-289Jih{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        .categoryItem-3zFJns.selectedCategoryItem-3X8ujp .itemInner-3gVXMG{
            background-color: var(--background-secondary-alt);
        }
        .layout-2DM8Md{
            border-radius: var(--neb-border-radius1);
        }
        .avatar-3uk_u9{
            color:var(--neb-white);
        }
    }
}