
#app-mount .content-1x5b-n,
#app-mount .channel-2QD9_O .layout-2DM8Md {
    background: none;
    border-radius: calc(var(--neb-border-radius1) - 7px);
}

#app-mount .modeSelected-346R90,
#app-mount .channel-2QD9_O.selected-aXhQR6 {
    background: var(--selected-bg);
    border-radius: calc(var(--neb-border-radius1) - 8px);
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .modeSelected-346R90:hover,
#app-mount .channel-2QD9_O.selected-aXhQR6:hover {
    background: var(--selected-bg-hover);
}
#app-mount .modeSelected-346R90::before,
#app-mount .channel-2QD9_O.selected-aXhQR6::before {
    border-left: var(--border-info) var(--selected-badge);
}
#app-mount .unread-2lAfLh {
    border-radius: calc(var(--neb-border-radius1) - 8px);
    background-color:var(--indicator);
    position: absolute;
    height:6px;
    width:10%;
    left:calc(var(--neb-sidebar-width) - 59px);
    top:19px;
}
#app-mount .modeUnread-1qO3K1 {
    background: var(--unread-bg);
    border-radius: var(--neb-border-radius1);
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .modeUnread-1qO3K1::before {
    border-left: var(--border-info) var(--unread-badge);
}
#app-mount .modeUnread-1qO3K1:hover,
#app-mount .wrapper-2jXpOf:not(.modeSelected-346R90):hover,
#app-mount .channel-2QD9_O.container-2Pjhx-:not(.selected-aXhQR6):hover {
    background: var(--hovered-bg);
    border-radius: calc(var(--neb-border-radius1) - 8px);
}
#app-mount .channel-2QD9_O.container-2Pjhx- {
    transition: var(--transition);
    position: relative;
    left:10px;
    margin-left: 0;
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .channel-2QD9_O.container-2Pjhx- div .avatar-3uk_u9 {
    margin-left: 5px;
}
.containerDefault--pIXnN{
    position: relative;
    left:11px;
}
.wrapper-2jXpOf{
    transition: var(--long-transition);
    max-width: calc(var(--neb-sidebar-width) - 20px);
    border-radius: calc(var(--neb-border-radius1) - 8px);
}


// Unread/Mute indicator
.actionIcon-PgcMM2{
    display: none;
}

.modeMuted-onO3r-{
    &::before{
        content: '';
        position: absolute;
        background-color: var(--background-tertiary);
        border-radius: var(--neb-border-radius1);
        height:6px;
        width: 30px;
        top: 14px;
        right:9px;
    }
}

.mentionsBadge-3tC7Mi{
    .numberBadge-2s8kKX{
        justify-content: right;
        flex-direction: row-reverse;
        border-radius: var(--neb-border-radius1);
        position: relative;
        left:-36px;
    }
}
.channel-2QD9_O{
    [style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"]{
        background-color: transparent !important;
        position: relative;
        right:34px;
        &::after{
            content: '';
            background-color: var(--mention);
            border-radius: var(--neb-border-radius1);
            height:6px;
            position: absolute;
            width:28px;
            left:16px;
        }
    }
}
.iconBase-3LOlfs{
    .base-PmTxvP{
        background-color: transparent !important;
        min-height: 6px;
        &:before{
            content: '';
            position: absolute;
            width:30px;
            background-color: var(--mention);
            height:6px;
            border-radius: var(--neb-border-radius1);
            right:-35px;
            top:6px;
        }
    }
}

.numberBadge-2s8kKX{
    color:var(--header-primary);
}
.unreadBottom-1_LF_w{
    .bar-30k2ka{
        background-color: var(--background-secondary-alt);
        opacity: 1;
    }
}
.unreadTop-3rAB3r{
    position: absolute;
    top:15px;
    .bar-30k2ka{
        background-color: var(--background-secondary-alt);
        opacity: 1;
    }
}