
#app-mount .content-1gYQeQ,
#app-mount .channel-1Shao0 .layout-1qmrhw {
    background: none;
    border-radius: var(--neb-border-radius1);
}

#app-mount .modeSelected-3DmyhH,
#app-mount .channel-1Shao0.selected-1-Z6gm {
    background: var(--selected-bg);
    border-radius: var(--neb-border-radius1);
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .modeSelected-3DmyhH:hover,
#app-mount .channel-1Shao0.selected-1-Z6gm:hover {
    background: var(--selected-bg-hover);
}
#app-mount .modeSelected-3DmyhH::before,
#app-mount .channel-1Shao0.selected-1-Z6gm::before {
    border-left: var(--border-info) var(--selected-badge);
}
#app-mount .unread-36eUEm {
    border-radius: var(--neb-border-radius1);
    background-color:var(--unread-bg);
    position: absolute;
    height:6px;
    width:10%;
    left:calc(var(--neb-sidebar-width) - 59px);
    top:19px;
}
#app-mount .modeUnread-3Cxepe {
    border-radius: var(--neb-border-radius1);
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .modeUnread-3Cxepe::before {
    border-left: var(--border-info) var(--unread-badge);
}
#app-mount .modeUnread-3Cxepe:hover,
#app-mount .wrapper-NhbLHG:not(.modeSelected-3DmyhH):hover,
#app-mount .channel-1Shao0.container-1oeRFJ:not(.selected-1-Z6gm):hover {
    background: var(--hovered-bg);
    border-radius: var(--neb-border-radius1);
}
#app-mount .channel-1Shao0.container-1oeRFJ {
    transition: var(--transition);
    position: relative;
    left:10px;
    margin-left: 0;
    max-width: calc(var(--neb-sidebar-width) - 20px);
}
#app-mount .channel-1Shao0.container-1oeRFJ div .avatar-6qzftW {
    margin-left: 5px;
}
.containerDefault-YUSmu3{
    position: relative;
    left:11px;
}
.wrapper-NhbLHG{
    transition: var(--long-transition);
    max-width: calc(var(--neb-sidebar-width) - 20px);
    border-radius:var(--neb-border-radius1);
}


// Unread/Mute indicator
.actionIcon-2sw4Sl{
    display: none;
}

.modeMuted-2T4MDZ{
    &::before{
        content: '';
        position: absolute;
        background-color: var(--background-tertiary);
        border-radius: var(--neb-border-radius1);
        height:6px;
        width: 30px;
        top: 14px;
        right:9px;
    }
}

.mentionsBadge-2ckrKL{
    .numberBadge-37OJ3S{
        justify-content: right;
        flex-direction: row-reverse;
        border-radius: var(--neb-border-radius1);
        position: relative;
        left:-36px;
    }
}
.channel-1Shao0{
    [style="background-color: rgb(240, 71, 71); width: 16px; padding-right: 1px;"]{
        background-color: transparent !important;
        position: relative;
        right:34px;
        &::after{
            content: '';
            background-color: var(--mention);
            border-radius: var(--neb-border-radius1);
            height:6px;
            position: absolute;
            width:28px;
            left:16px;
        }
    }
}
.iconBase-2G48Fc{
    .base-3IDx3L{
        background-color: transparent !important;
        min-height: 6px;
        &:before{
            content: '';
            position: absolute;
            width:30px;
            background-color: var(--mention);
            height:6px;
            border-radius: var(--neb-border-radius1);
            right:-35px;
            top:6px;
        }
    }
}

.numberBadge-37OJ3S{
    color:var(--header-primary);
}
.unreadBottom-3Ojk6R{
    .bar-2eAyLE{
        background-color: var(--background-secondary-alt);
        opacity: 1;
    }
}
.unreadTop-1DJtGv{
    position: absolute;
    top:15px;
    .bar-2eAyLE{
        background-color: var(--background-secondary-alt);
        opacity: 1;
    }
}