.panels-3wFtMD{
    background-color: transparent;
    border-radius: var(--neb-border-radius1);
    z-index: 300;
    .container-YkUktl{
        background-color: var(--background-primary);
        width:calc(var(--neb-sidebar-width) - 95px);
        border-radius: var(--neb-border-radius2);
        position: absolute;
        margin-right: var(--margin);
        right:0px;
        height:var(--neb-topbar-height);
        z-index: 210;
        top:0px;
        .button-12Fmur{
            border-radius: var(--neb-border-radius1);
            &:hover{
                background-color: var(--background-secondary-alt);
            }
        }
    }
    .wrapper-3Hk9OB{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        .container-1zzFcN{
            margin-top: var(--margin);
            border:none;
        }
        .lookFilled-yCfaCM.colorBrand-I6CyqQ{
            background-color: var(--button-background-dark);
            border-radius: var(--neb-border-radius1);
            &:hover{
                background-color: var(--background-secondary);
            }
        }
    }
    .activityPanel-9icbyU{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        margin-top: var(--margin);
        border: none !important;
    }
}