.theme-light .root-g14mjS{
    background-color: var(--neb-primary) !important;
    box-shadow: none;
    .colorHeaderPrimary-jN_yGr,
    .colorHeaderSecondary-g5teka{
        color:var(--neb-white);
    }
    .container-x8Y1ix{
        background-color: var(--neb-tertiary);
        border-radius: var(--neb-border-radius1);
        .colorStandard-21JIj7{
            color:var(--neb-white);
        }
        &:hover{
            background-color: var(--neb-secondary-alt);
        }
    }
    .footer-3ie9JP{
        background-color: var(--neb-secondary-alt);
        box-shadow: none;
        .footerTitle-3Bslxi{
            color: var(--neb-white);
        }
        button{
            border-radius: var(--neb-border-radius1);
            background-color: var(--button-background-dark);
            width:fit-content;
            &:hover{
                background-color: var(--button-hover-light);
            }
        }
    }
    .backButton-2Ps-B8,
    .button-f2h6uQ:not(.close-1mLglB){
        border-radius: var(--neb-border-radius2);
        background-color: var(--neb-tertiary);
        color:var(--neb-white);
        padding:12px;
        width:fit-content;
    }
    .input-m1-Y7Q{
        background-color: transparent;
    }
    .closeButton-15_aIJ:hover,
    .sampleLink-5BWNy9,
    .h5-2RwDNl{
        color:var(--neb-white);
    }
}