.root-g14mjS{
    .input-2g-os5:not(.multiInput-1VARjC){
        background-color: var(--background-secondary-alt);
        border:var(--border-inactive);
        transition: var(--transition);
        &:hover{
            box-shadow: var(--elevation-high);
            border-color: var(--background-secondary);
        }
        &:focus-within{
            box-shadow: var(--elevation-high);
            border-color: var(--border-active);
        }
    }
}