.contentWrapper-3oy4Xo{
    background: var(--background-primary) !important;
    border-radius: var(--neb-border-radius1) !important;
    .lookFilled-yCfaCM.colorBrand-I6CyqQ{
        border-radius: var(--neb-border-radius2);
        background-color: var(--button-background-dark);
    }
    .lookLink-15mFoz.colorBrand-I6CyqQ{
        color:var(--header-primary);
    }
}
.inviteSplash-2Q0PLE{
    border-radius: var(--neb-border-radius1);
    margin-left: var(--margin);
}