.contentWrapper-3WC1ID{
    background: var(--background-primary) !important;
    border-radius: var(--neb-border-radius1) !important;
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        border-radius: var(--neb-border-radius2);
        background-color: var(--button-background-dark);
    }
    .lookLink-9FtZy-.colorBrand-3pXr91{
        color:var(--header-primary);
    }
}
.inviteSplash-40aHus{
    border-radius: var(--neb-border-radius1);
    margin-left: var(--margin);
}