.backdrop-2ByYRN, .backdropWithLayer-3_uhz4{
    backdrop-filter: var(--modal-backdrop-blur);
}
.root-g14mjS{
    background-color: var(--background-primary) !important;
    border-radius: var(--neb-border-radius1);
    .input-2g-os5,
    .select-1Ia3hD{
        border-radius: var(--neb-border-radius1);
    }
    .footer-31IekZ{
        background-color: var(--neb-secondary-alt);
        border-radius: var(--neb-border-radius1);
        box-shadow: none;
        margin: var(--margin);
        .lookFilled-yCfaCM.colorBrand-I6CyqQ,
        .lookFilled-yCfaCM.colorRed-rQXKgM,
        .lookFilled-yCfaCM.colorPrimary-2AuQVo{
            background-color: var(--button-background-dark);
            border-radius: var(--neb-border-radius1);
            &:hover{
                background-color: var(--button-hover-dark);
            }
        }
    }
    .message-G6O-Wv{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
    }
}