.container-2E0bff{
    background-color: var(--background-tertiary) !important;
    .guildSidebar-UHnQqs{
        margin: calc(var(--margin) + 40px) var(--margin) var(--margin) var(--margin);
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
    }
    .close-1mLglB{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        transition: var(--transition);
        position: absolute;
        width:248px;
        opacity: 1;
        left:10px;
        &:hover{
            background-color: var(--background-secondary);
        }
    }
    .modal-2TOYtq{
        margin:var(--margin) var(--margin) var(--margin) 0;
        border-radius: var(--neb-border-radius1);
        [style="width: 20px; height: 20px; border-color: rgb(114, 137, 218); background-color: rgb(114, 137, 218);"]{
            border-radius: var(--neb-border-radius1);
            background-color: var(--background-secondary-alt) !important;
            border: none !important;
            width:30px !important;
            height:30px !important;
        }
        .h5-2RwDNl{
            color: var(--header-primary) !important;
        }
    }
    .footer-11k_3m button{
        border-radius: var(--neb-border-radius1);
    }
}