.uploadModal-2ie9O_{
    background-color: var(--background-primary) !important;
    border-radius: var(--neb-border-radius1);
    .scrollableContainer-15eg7h{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
    }
}
.uploadModal-2ie9O_ .footer-VCsJQY{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-border-radius1);
    margin: var(--margin);
    .lookFilled-yCfaCM.colorBrand-I6CyqQ{
        background-color: var(--button-background-dark);
        border-radius: var(--neb-border-radius1);
        &:hover{
            background-color: var(--button-hover-dark);
        }
    }
}