.uploadModal-2ifh8j{
    background-color: var(--background-primary) !important;
    border-radius: var(--neb-border-radius1);
    .scrollableContainer-2NUZem{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
    }
}
.uploadModal-2ifh8j .footer-3mqk7D{
    background-color: var(--background-secondary-alt) !important;
    border-radius: var(--neb-border-radius1);
    margin: var(--margin);
    .lookFilled-1Gx00P.colorBrand-3pXr91{
        background-color: var(--button-background-dark);
        border-radius: var(--neb-border-radius1);
        &:hover{
            background-color: var(--button-hover-dark);
        }
    }
}