.modal-3c3bKg{
    .root-SR8cQa{
        background-color: transparent;
        flex-direction: row;
        display: flex;
        width: fit-content;
        max-width: 1200px;
        height:280px;
        .topSectionNormal-2-vo2m,
        .topSectionPlaying-1J5E4n,
        .topSectionStreaming-1Tpf5X,
        .topSectionXbox-3fWLjS,
        .topSectionSpotify-1lI0-P{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            margin-right: var(--margin);
            overflow: scroll;
            height: 230px;
            &::-webkit-scrollbar{
                display: none;
            }
            .header-QKLPzZ{
                background-color: var(--background-secondary-alt);
                border-radius: var(--neb-border-radius1);
                margin: var(--margin) var(--margin) 0 var(--margin);
                text-transform: capitalize;
                width:550px;
                height:65px;
                .nameTag-2IFDfL{
                    padding-top: 10px;
                }
                .avatar-3EQepX{     
                    position: relative;
                    right:10px;   
                    margin-right: 0;
                    rect{
                        pointer-events: none;
                        mask: none;
                        height:8px;
                        width:65%;
                        x:10; y:70; ry:5;
                    }
                    [mask="url(#svg-mask-status-online)"]{
                        fill:var(--neb-status-online)
                    }
                    [mask="url(#svg-mask-status-dnd)"]{
                        fill:var(--neb-status-dnd);
                    }
                }
                button{
                    border-radius: var(--neb-border-radius1);
                    background-color: var(--button-background-dark);
                    color: #fff;
                    &:hover{
                        background-color: var(--button-background-light);
                    }
                }
            }
            .headerFill-adLl4x{
                background-color: transparent;
                padding-top: 5px;
            }
            .activity-1ythUs{
                border-radius: var(--neb-border-radius1);
                padding: 0;
                margin: var(--margin);
                .activityHeader-1PExlk,
                .headerTextNormal-2mGWX3{
                    display: none;
                }
                .body-ZAhrcj{
                    width: 590px;
                    button{
                        border-radius: var(--neb-border-radius1);
                        background-color: var(--background-secondary-alt);
                        border: none;
                        &:hover{
                            background-color: var(--background-);
                        }
                    }
                }
            }
            .customStatusText-39gdCI{
                position: fixed;
                color:#fff;
                bottom: 0px;
                .customStatus-154i-H{
                    max-width: 600px;
                    overflow: scroll;
                    height:40px;
                    width: max-content;
                    span{
                        white-space: pre-line;
                        width: fit-content;
                        font-size: 15px;
                    }
                    &::-webkit-scrollbar{
                        display: none;
                    }
                }
            }
            &::before{
                background-color: var(--background-primary);
                border-radius: var(--neb-border-radius1);
                position: fixed;
                height:55px;
                width:400px;
                content: '';
                right:0;
            }
            &::after{
                background-color: var(--background-primary);
                border-radius: var(--neb-border-radius1);
                bottom: 0;
                position: fixed;
                content: '';
                height:39px;
                width:610px;
            }
            .tabBarContainer-1s1u-z{
                background-color: var(--background-primary);
                border-radius: var(--neb-border-radius1);
                position: absolute;
                border:none;
                width:358px;
                padding-left: 42px;
                top:0;
                right:0;
                .tabBar-2MuP6-{
                    justify-content: center;
                    position: relative;
                    left:1px;
                }
                .top-28JiJ- .item-PXvHYJ{
                    border-radius: 13px;
                    border-bottom: transparent;
                    position: relative;
                    transition: var(--transition);
                    top:8px;
                    height:30px;
                    padding: 4px 10px 4px 10px;
                    &:hover{
                        background-color: var(--background-secondary);
                    }
                }
                [aria-selected="true"]{
                    background-color: var(--background-secondary-alt);
                    &:hover{
                        background-color: var(--background-secondary-alt) !important;
                        pointer-events: none;
                    }
                }
            }
        }
        .body-3ND3kc{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            position: relative;
            height:212px;
            width:400px;
            top:68px;
            ::-webkit-scrollbar{
                display: none;
            }
            .userInfoSection-2acyCx{
                padding-top: 0px;
                border: none;
                .userInfoSectionHeader-CBvMDh,
                .note-QfFU8y{
                    display: none;
                }
                .connectedAccount-36nQx7{
                    border-radius: var(--neb-border-radius2);
                    background-color: var(--background-secondary-alt);
                    border: none;
                    width: 338px;
                    margin-top: 10px;
                }
            }
            .listRow-hutiT_{
                border-radius: var(--neb-border-radius2);
                margin-right: var(--margin);
            }
        }
    }
}