#app-mount .wrapper-3NnKdC {
    background: transparent;
    margin-left: var(--margin);
    }
    
    .base-3dtUhz {
        margin-bottom: var(--margin);
        margin-left: var(--margin);
    }
    
    .scroller-1Bvpku{contain: none;}

    
    // ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
    // ║ Vertical           ║ Home Button                                                                       ║
    // ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
    
    // Background
    .tutorialContainer-2sGCg9 {
    border-radius: var(--neb-border-radius1);
    background: var(--background-primary);
    padding-top: 7px;
    position: fixed;
    top:25px;
    .pill-3N7f9r{
        display: none;
        }
    }
    .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9{
        background-color: var(--background-secondary-alt);
    }

    // ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
    // ║ Vertical           ║ Guilds                                                                            ║
    // ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
    
    // Background
    .scroller-1Bvpku {
    border-radius: var(--neb-border-radius1);
    background: transparent;
    position: relative;
    margin-bottom: calc(var(--margin) + 150px);
    padding-top: 10px !important;
    top: 70px;
    }
    
    // Blur
    .wrapper-3NnKdC::before {
    background: var(--background-primary);
    position: fixed;
    content: "";
    border-radius: var(--neb-border-radius1);
    width: 72px;
    bottom: 0px;
    margin-top: 95px;
    margin-bottom: calc(var(--margin) + 80px);
    top: 0;
    left: 20;
    }
    
    
    // Remove guild Separator
    .guildSeparator-33mFX6 {display: none;}
    
    // ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
    // ║ Vertical           ║ Add Server Button                                                                 ║
    // ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
    
    // Background
    .tutorialContainer-30WoTp {
    background: transparent;
    position: fixed;
    border-radius: var(--neb-border-radius1);
    padding-top: 12px;
    padding-bottom: 4px;
    bottom: var(--margin);
    }
    
    // Blur
    .tutorialContainer-30WoTp::before {
    background: var(--background-primary);
    position: fixed;
    content: "";
    border-radius: var(--neb-border-radius1);
    height: 70px;
    width: 72px;
    bottom: var(--margin);
    z-index: -1;
    }
    
    // Add Server & Explore Button
    .circleIconButton-1QV--U {
    color: var(--interactive-normal);
    background: var(--background-secondary-alt);
    }
    
    .circleIconButton-1QV--U.selected-ugP_am svg path{
    fill: var(--interactive-active);
    }
    
    // ╔════════════════════╦═══════════════════════════════════════════════════════════════════════[─]═[□]═[×]═╗
    // ║ Vertical           ║ Unread                                                                            ║
    // ╚════════════════════╩═══════════════════════════════════════════════════════════════════════════════════╝
    .unreadMentionsIndicatorTop-2-tcdU{
        top:70px;
        .mention-1f5kbO{
            opacity: 1;
        }
    }
    .unreadMentionsIndicatorBottom-2mDYbI{
        bottom:90px;
        .mention-1f5kbO{
            opacity: 1;
        }
    }