.newMessagesBar-1hF-9G{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    box-shadow: none;
    padding: 3px;
    opacity: 1;
    top:10px;
}
.barButtonBase-Sk2mdB{
    color:var(--header-primary);
}
.container-A2jo65{
    position: relative;
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    bottom:6px;
}
.jumpToPresentBar-1cEnH0{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    bottom:15px;
    padding: 3px;
    opacity: 1;
}