.newMessagesBar-265mhP{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    box-shadow: none;
    padding: 3px;
    opacity: 1;
    top:10px;
}
.barButtonBase-2uLO1z{
    color:var(--header-primary);
}
.container-2fRDfG{
    position: relative;
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    bottom:6px;
}
.jumpToPresentBar-G1R9s6{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
    bottom:15px;
    padding: 3px;
    opacity: 1;
}