.chat-2ZfjoI{
    background: transparent;
    margin: 0 var(--margin) 0 var(--margin);
    .content-1jQy2l{
        margin-top: var(--margin);
        &:before{
            display: none;
        }
        .chatContent-3KubbW{
            margin-right:var(--margin);
            border-radius: var(--neb-border-radius1);
            background-color: var(--background-primary);
            z-index: 100;
            .messagesWrapper-RpOMA3,
            .scroller-kQBbkU{
                border-radius: var(--neb-border-radius1) var(--neb-border-radius1) 0 0;
            }
        }
        .scroller-3KyaqJ{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
        }
    }
    .action-3eQ5Or{
        border-radius: var(--neb-border-radius1);
    }
    .wrapper-1gVUIN{
        background-color: var(--background-primary);
        border-radius:var(--neb-border-radius1) 21px var(--neb-border-radius1) var(--neb-border-radius1);
    }
}
.colorable-3rVGna.primaryDark-2UJt1G{
    background-color: var(--background-tertiary);
    &:hover{
        background-color: var(--background-secondary-alt);
    }
}
