.form-2fGMdU{
    .scrollableContainer-2NUZem{
        background-color: var(--background-secondary-alt);
        border-radius: calc(var(--neb-border-radius2) + 5px);
        transition: var(--long-transition);
        border:var(--border-inactive);
        &:hover{
            border-color: rgb(255, 255, 255);
        }
        &:focus-within{
            border: var(--border-active);
        }
    }
    .wrapper-39oAo3{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius2);
        margin-top: var(--margin);
        box-shadow: none;
    }
}