.form-3gdLxP{
    .scrollableContainer-15eg7h{
        background-color: var(--background-secondary-alt);
        border-radius: calc(var(--neb-border-radius2) + 5px);
        transition: var(--long-transition);
        border:var(--border-inactive);
        &:hover{
            border-color: rgb(255, 255, 255);
        }
        &:focus-within{
            border: var(--border-active);
        }
        .buttonContainer-2lnNiN{
            &:nth-last-child(2),
            &:nth-last-child(3){
                display: none;
            }
        }
        [aria-label="Send a gift"]{
            display: none;
        }
    }
    .wrapper-2SplAX{
        background-color: var(--background-secondary);
        border-radius: var(--neb-border-radius2);
        margin-top: var(--margin);
        box-shadow: none;
        button{
            border-radius: var(--neb-border-radius1);
            background-color: var(--background-secondary-alt);
            &:hover{
                background-color: var(--button-hover-light);
            }
        }
    }
}