.membersWrap-3NUR2t{
    //margin-left:var(--margin);
    height: 100%;
    background-color: var(--background-tertiary);
    .members-3WRCEx{
        background-color: var(--background-primary);
        border-radius: var(--neb-border-radius1);
        div{
            background-color: transparent;
            transition: var(--transition);
            .layout-1qmrhw{
                border-radius: var(--neb-border-radius1);
                margin-top: 2px;
            }
        }
        &::-webkit-scrollbar{
            display: none;
        }
    }
}
// bot tag
.botTag-2mryIa{
    background-color: var(--accent-color);
}
.botTag-7aX5WZ{
    background-color: var(--accent-color);
}
