// Chat Bubbles
.cozyMessage-1DWF9U .contents-2MsGLg > .markup-eYLPri:not(:empty) {
    background-color: var(--background-tertiary);
    display: inline-block;
    max-width: 650px;
    width:fit-content;
    margin: 0;
    padding: 8px;
    border-radius: var(--neb-border-radius1);
}
.message-2CShn3{
    border-radius: 0 var(--neb-border-radius1) var(--neb-border-radius1) 0;
}


// Code
.markup-eYLPri code{
    border-radius: var(--neb-border-radius1);
    width: fit-content;
    max-width: 620px;
}

// Replies
.cozy-VmLDNB .contents-2MsGLg{
    .scrollableContainer-15eg7h{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius2);
    }
}
.replying-eZ7p5z{
    background-color: var(--background-mentioned);
    &:before{
        background-color: var(--neb-white);
    }
}
.repliedMessage-3Z6XBG:before{
    border-color: var(--neb-white);
}

// Mentions
.mentioned-Tre-dv{
    background-color: var(--background-secondary);
    &::before{
        background-color: var(--background-secondary-alt);
        border-radius: 0 var(--neb-border-radius1) var(--neb-border-radius1) 0;
        width:10px;
    }
}
.wrapper-1ZcZW-,.theme-dark .mention{
    color:#7289da;
    background:rgba(114,137,218,.1);
    border-radius: 3px;
    padding: 0 2px;
    font-weight: 500;
}
.wrapper-1ZcZW-:hover,.theme-dark .mention:hover{
    color:#fff;
    background-color:#7289da;
}

// Reactions
.reaction-2A2y9y.reactionMe-3I9gFK {
    background-color: var(--neb-tertiary);
    border-color: var(--neb-tertiary);
}
