.notice-3uyY6c{
    position: relative;
    top:75px;
    height:0;
    .header-2QVqxD{
        background-color: var(--neb-white);
        border-radius: var(--neb-border-radius1);
        padding:8px;
        color:#000;
    }
    .lookOutlined-3sRXeN.colorWhite-rEQuAQ{
        background-color: var(--neb-white);
        border-radius: var(--neb-border-radius1);
        color:#000;
        padding: 8px;
        border: none;
    }
}
.colorStreamerMode-2SJAUN{
    position: fixed;
    left:148px;
    top:68px;
    height: 0px;
    width:fit-content;
    color:transparent;
    .closeButton-3cJIM4{
        display: none;
    }
    .button-2DhvE9{
        background-color: var(--neb-status-streaming);
        border-radius: var(--neb-border-radius1) 0 var(--neb-border-radius1) 0;
        border: none;
        width:calc(var(--neb-sidebar-width) - 21px);
        &::after{
            content: ' Streamer Mode';
        }
    }
}
.streamerModeEnabledBtn-2ZJ2eq{
    border-radius: var(--neb-border-radius2);
}
.notice-2X5hT5{
    position:relative;
    top:70px;
    width:750px;
    left:340px;
    height:0px;
    .lookOutlined-3sRXeN.colorWhite-rEQuAQ{
        background-color: var(--neb-white);
        border-radius: var(--neb-border-radius1);
        color:#000;
        border: none;
    }
    .header-1g25vm{
        border-radius: var(--neb-border-radius1);
        background-color: var(--neb-white);
        margin-right: 10px;
        padding: 4px;
        color:#000;
    }
}