.notice-3uyY6c{
    position: absolute;
    border-radius: var(--neb-border-radius1);
    background-color: var(--background-primary);
    top:0px;
    left:340px;
    width:57.6%;
    .header-2QVqxD{
        position: absolute;
        left: 13px;
        font-size: 16px;
    }
    .lookOutlined-3sRXeN.colorWhite-rEQuAQ{
        background-color: var(--background-secondary-alt);
        padding: 7px;
        border-radius: var(--neb-border-radius1);
        position: absolute;
        right: 6px;
        border: none;
        &:hover{
            background-color: var(--button-hover-light);
        }
    }
}
.streamerModeEnabledBtn-2ZJ2eq{
    border-radius: var(--neb-border-radius2);
}
.notice-2X5hT5{
    position:relative;
    top:70px;
    width:750px;
    left:340px;
    height:0px;
    .lookOutlined-3sRXeN.colorWhite-rEQuAQ{
        background-color: var(--neb-white);
        border-radius: var(--neb-border-radius1);
        color:#000;
        border: none;
    }
    .header-1g25vm{
        border-radius: var(--neb-border-radius1);
        background-color: var(--neb-white);
        margin-right: 10px;
        padding: 4px;
        color:#000;
    }
}