.closeButton-PCZcma{
    background-color: var(--background-primary);
    width: var(--neb-sidebar-width);
    border-radius: var(--neb-border-radius1);
    transition: var(--transition);
    border: none;
    position: fixed;
    left:10px;
    top:0px;
    svg{
        position: absolute;
        height:20px;
        width:20px;
        left:17px;
        path{
            d: path("M10.418 13L12.708 15.294L11.292 16.706L6.586 11.991L11.294 7.292L12.707 8.708L10.41 11H21.949C21.446 5.955 17.177 2 12 2C6.486 2 2 6.487 2 12C2 17.513 6.486 22 12 22C17.177 22 21.446 18.046 21.949 13H10.418Z");
        }
    }
    &::after{
        position: absolute;
        content: 'Back';
        font-size: 18px;
        color:var(--header-primary);
        font-weight: 400;
        left:38px;
        bottom:10px;
        padding-left: 6px;
    }
}
.keybind-13vtq8{
    display: none !important;
}
.closeButton-PCZcma:hover{
    background: var(--button-hover-light) !important;
}
