// Buttons
.contentRegion-3nDuYy{
    .lookFilled-1Gx00P.colorBrand-3pXr91,
    .lookFilled-1Gx00P.colorGrey-2DXtkV{
        background-color: var(--button-background-dark);
        border-radius: var(--neb-border-radius1);
        &:hover{
            background-color: var(--button-hover-light);
        }
    }
    .lookFilled-1Gx00P.colorRed-1TFJan,
    .lookOutlined-3sRXeN.colorRed-1TFJan,
    .lookFilled-1Gx00P.colorGreen-29iAKY{
        border-radius: var(--neb-border-radius1);
    }
    .lookFilled-1Gx00P.colorPrimary-3b3xI6{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
        &:hover{
            background-color: var(--background-tertiary);
        }
    }
}

// Radio Bar Fix
.radioBar-bMNUI-,
.item-26Dhrx{
    border-radius: var(--neb-border-radius2);
    .radioIconForeground-XwlXQN{
        color:var(--header-primary)
    }
}

// Audit Log Fix
.customScroller-26gWhv{
    background-color: var(--background-primary);
    border-radius: var(--neb-border-radius1);
}

// Sliding fix
.barFill-23-gu-{
    background: var(--background-secondary-alt);
}
.bar-2Qqk5Z{
    background: var(--background-tertiary) !important;
}
.defaultValue-3gC7yw .markValue-2DwdXI{
    color:var(--header-primary);
}

// Toggle fix
svg.slider-TkfMQL svg {
    display: none;
  }
  
  .container-3auIfb:not([style*="125"]) {
    background-color: var(--background-secondary-alt) !important;
  }