.layers-3iHuyZ>.layer-3QrUeG:first-child{
    opacity: 1 !important;
    z-index: 0;
}
.layers-3iHuyZ>.layer-3QrUeG:nth-child(2),.perksModal-fSYqOq{
    background-color: rgba(0, 0, 0, 0.85)!important;
    backdrop-filter: var(--modal-backdrop-blur);
}
.standardSidebarView-3F1I7i{
    background-color: transparent;
    position: absolute;
    top:unset !important;
    left:253px;
    bottom: 80px;
    height:80vh;
    width:71%;
}
.contentRegion-3nDuYy{
    background-color: transparent;
    z-index: 10;
    .contentRegionScroller-26nc1e{
        border-radius: var(--neb-border-radius1);
    }
}
