// Powercord cards
.card-3Qj_Yx{
    background-color: var(--background-tertiary);
    border-radius: var(--neb-border-radius1);
}

// Buttons
.lookFilled-1Gx00P.colorYellow-2JqYwt,
.lookFilled-1Gx00P.colorRed-1TFJan,
.lookOutlined-3sRXeN.colorPrimary-3b3xI6{
    border-radius: var(--neb-border-radius1);
}