.sidebarRegion-VFTUkN{
    margin-right: var(--margin);
    .sidebarRegionScroller-3MXcoP{
        border-radius: var(--neb-border-radius1);
        background-color: var(--background-primary);
        .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ{
            background-color: var(--background-secondary-alt);
        }
        .side-8zPYf6 .item-PXvHYJ{
            border-radius: var(--neb-border-radius1);
        }
        .header-2RyJ0Y{
            color: var(--neb-white);
        }
    }
    .sidebar-CFHs9e{
        padding-left: 0;
        padding-right: 22px;
        padding-top: 20px;
    }
    ::-webkit-scrollbar{
        display: none;
    }
}
div[aria-label="USER_SETTINGS"] .info-1VyQPT:last-child > div:last-child::after {
    content: var(--neb-version);
    display: block;
}