.container-1D34oG{
    background-color: transparent !important;
    margin: 0 var(--margin) 0 var(--margin);
    .container-1r6BKw{
        .toolbar-1t6TWx{
            margin-right: 250px;
        }
    }
    .tabBody-3YRQ8W{
        &:before{
            display: none;
        }
        .peopleColumn-29fq28{
            border-radius: var(--neb-border-radius1);
            background-color: var(--background-primary);
            margin: var(--margin) var(--margin) 0 0;
        }
        .nowPlayingColumn-2sl4cE{
            background-color: var(--background-primary);
            border-radius: var(--neb-border-radius1);
            margin-top: var(--margin);
            .wrapper-3D2qGf{
                border-radius: var(--neb-border-radius1);
                transition: 250ms ease all;
                margin-right: var(--margin);
                max-width: none;
                &:hover{
                    background-color: var(--background-secondary);
                }
                .body-1ld4H7{
                    background-color: transparent;
                    border-radius: var(--neb-border-radius1);
                }
            }
            .separator-XqIyoz{
                display: none;
            }
            .section-2gLsgF{
                background-color: var(--background-secondary-alt);
                border-radius: var(--neb-border-radius1);
                margin-bottom: 5px;
                transition: 100ms ease;
                &:hover{
                    background-color: var(--background-primary);
                }
            }
            ::-webkit-scrollbar{
                display: none;
            }
        }
    }
}
