.scroller-1IIF0A,
.scroller-2XE8rp{
    border-radius: var(--neb-border-radius1);
    margin: var(--margin);
}
.libraryHeader-3g95kE{
    .children-19S4PO{
        border-radius: var(--neb-border-radius1);
        margin:0 10px;
    }
    .toolbar-1t6TWx{
        border-radius: var(--neb-border-radius1);
        margin-right: 260px;
        .libraryFilter-31ZUa2{
            border-radius: var(--neb-border-radius1);
        }
    }
}