.scroller-2XLwLg,
.scroller-1TOeMq{
    border-radius: var(--neb-border-radius1);
    margin: var(--margin);
}
.libraryHeader-2loraV{
    .children-3xh0VB{
        border-radius: var(--neb-border-radius1);
        margin:0 10px;
    }
    .toolbar-3_r2xA{
        border-radius: var(--neb-border-radius1);
        margin-right: 260px;
        .libraryFilter-1nwg6T{
            border-radius: var(--neb-border-radius1);
        }
    }
}