.applicationStore-2nk7Lo{
    background-color: transparent;
    margin: 0 0 0 var(--margin);
    .scroller-29cQFV{
        border-radius: var(--neb-border-radius1);
        margin: var(--margin) var(--margin) 0 0;
    }
}
.perksModal-fSYqOq{
    background-color: var(--background-primary) !important;
    .ctaBar-2UsjF2{
        background-color: var(--background-secondary-alt);
        .lookFilled-yCfaCM.colorBrand-I6CyqQ{
            background-color: var(--button-background-dark);
            border-radius: var(--neb-border-radius1);
            &:hover{
                background-color: var(--button-hover-dark);
            }
        }
        .lookFilled-yCfaCM.colorPrimary-2AuQVo{
            background-color: var(--button-background-light);
            border-radius: var(--neb-border-radius1);
            &:hover{
                background-color: var(--button-hover-light);
            }
        }
    }
    .perk-2WeBWW{
        background-color: var(--background-secondary-alt);
        border-radius: var(--neb-border-radius1);
    }
}